<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vote.mapper.UserMapper">
	<!-- 自定义结果集 -->
	<resultMap type="User" id="userResultMap">
		<result property="userId" column="user_id" />
		<result property="userName" column="user_name" />
		<result property="userAge" column="user_age" />
		<result property="userSex" column="user_sex" />
		<result property="userEmail" column="user_email" />
		<result property="userAddress" column="user_address" />
	</resultMap>

	<!-- 根据用户id获取用户信息 -->
	<select id="getUserNameById" parameterType="String" resultMap="userResultMap">
		select *
		from vote_user
		where user_id=#{userId}
	</select>

	<!-- 更新用户信息 -->
	<update id="updateUserInfo" parameterType="User">
		update vote_user
		set
		user_name=#{userName},user_age=#{userAge},user_email=#{userEmail},user_address=#{userAddress}
		where user_id=#{userId}
	</update>

	<!-- 根据用户id删除用户 -->
	<delete id="deleteUserById" parameterType="String">
		delete from vote_user
		where user_id=#{0}
	</delete>

	<!-- 插入新用户 -->
	<insert id="addUser" parameterType="User">
		insert into
		vote_user(user_id,user_name,user_age,user_sex,user_email,user_address)
		values(#{userId},#{userName},#{userAge},#{userSex},#{userEmail},#{userAddress})
	</insert>
	
	<!-- 获取所有用户信息 -->
	<select id="getAllUserInfo" resultMap="userResultMap">
		select vote_user.*
		from vote_user,vote_login where vote_user.user_id = vote_login.user_id and user_identity = "1"
	</select>
</mapper>