<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.animal.mapper.FileInfoMapper">
	<!-- 自定义结果集 -->
	<resultMap type="FileInfo" id="fileInfoResultMap">
		<result property="fileType" column="file_type" />
		<result property="fileFullPath" column="file_fuulpath" />
		<result property="fileName" column="file_name" />
		<result property="fileSize" column="file_size" />
		<result property="uploadTime" column="upload_time" />
	</resultMap>
	<!-- 根据动物id获取动物图片名 -->
	<select id="getImageNameByAnimalId" parameterType="String" resultMap="fileInfoResultMap">
		select *
		from file_info,animal_info
		where animal_fileid = file_id and animal_id =#{0}
	</select>
	<!--更新用户的密码 -->
<!-- 	<update id="updatePassword" parameterType="String"> -->
<!-- 		update -->
<!-- 		user_login -->
<!-- 		set user_password=#{2} -->
<!-- 		where user_id=#{0} and user_password=#{1} -->
<!-- 	</update> -->
	<!--重置用户的密码 -->
<!-- 	<update id="resetUserPassword" parameterType="String"> -->
<!-- 		update -->
<!-- 		user_login -->
<!-- 		set user_password="123456" -->
<!-- 		where user_id=#{0} -->
<!-- 	</update> -->
	<!-- 插入新的文件记录  -->
	<insert id="addAnimalFileInfo" parameterType="FileInfo">
		insert into
		file_info(file_id,file_type,file_fullpath,file_name,file_size,upload_time)
		values(#{fileId},#{fileType},#{fileFullPath},#{fileName},#{fileSize},#{uploadTime})
	</insert>
</mapper>