<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.animal.mapper.LoginMapper">
	<!-- 自定义结果集 -->
	<resultMap type="Login" id="loginResultMap">
		<result property="userId" column="user_id" />
		<result property="userPassword" column="user_password" />
		<result property="userIdentity" column="user_identity" />
		<result property="userRegitime" column="user_regitime" />
	</resultMap>
	<!-- 登录查询 -->
	<select id="isLogin" parameterType="Login" resultMap="loginResultMap">
		select *
		from user_login
		where user_id=#{userId} and user_password=#{userPassword}
	</select>
	<!--更新用户的密码 -->
	<update id="updatePassword" parameterType="String">
		update
		user_login
		set user_password=#{2}
		where user_id=#{0} and user_password=#{1}
	</update>
	<!--重置用户的密码 -->
	<update id="resetUserPassword" parameterType="String">
		update
		user_login
		set user_password="123456"
		where user_id=#{0}
	</update>
<!-- 	 插入新的用户登录  -->
<!-- 	<insert id="addNewUser" parameterType="User"> -->
<!-- 		insert into -->
<!-- 		user_login(user_id,user_password,user_identity,user_regitime) -->
<!-- 		values(#{userId},#{userPassword},#{userIdentity},#{userRegitime}) -->
<!-- 	</insert> -->
</mapper>