<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.animal.mapper.NoticeInfoMapper">
	<!-- 自定义结果集 -->
	<resultMap type="noticeInfo" id="notice_info">
		<result property="noticeId" column="notice_id" />
		<result property="noticePublisher" column="notice_publisher" />
		<result property="noticeContent" column="notice_content" />
		<result property="releaseTime" column="release_time" />
	</resultMap>
	<!-- 查询公告 -->
	<select id="getNoticeList"  resultMap="notice_info">
		select *
		from notice_info order by release_time desc
	</select>
	<!--更新用户的密码 -->
<!-- 	<update id="updatePassword" parameterType="String"> -->
<!-- 		update -->
<!-- 		user_login -->
<!-- 		set user_password=#{2} -->
<!-- 		where user_id=#{0} and user_password=#{1} -->
<!-- 	</update> -->
	<!--重置用户的密码 -->
<!-- 	<update id="resetUserPassword" parameterType="String"> -->
<!-- 		update -->
<!-- 		user_login -->
<!-- 		set user_password="123456" -->
<!-- 		where user_id=#{0} -->
<!-- 	</update> -->
	<!-- 插入新的公告 -->
	<insert id="addNewNotice" parameterType="NoticeInfo">
		insert into
		notice_info(notice_id,notice_publisher,notice_content,release_time)
		values(#{noticeId},#{noticePublisher},#{noticeContent},#{releaseTime})
	</insert>
</mapper>