<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.animal.mapper.SeachRecordMapper">
	<!-- 自定义结果集 -->
	<resultMap type="SeachRecord" id="seachRecordResultMap">
		<result property="recordId" column="record_id" />
		<result property="userId" column="user_id" />
		<result property="seachContent" column="seach_content" />
		<result property="seachTime" column="seach_time" />
	</resultMap>
	<!-- 根据动物id获取动物信息 -->
	<!-- <select id="getAnimalInfoByAnimalId" parameterType="String" resultMap="animalInfoResultMap"> -->
	<!-- select * -->
	<!-- from animal_info -->
	<!-- where animal_id=#{0} -->
	<!-- </select> -->
	<!--更新用户的密码 -->
	<!-- <update id="updatePassword" parameterType="String"> -->
	<!-- update -->
	<!-- user_login -->
	<!-- set user_password=#{2} -->
	<!-- where user_id=#{0} and user_password=#{1} -->
	<!-- </update> -->
	<!--重置用户的密码 -->
	<!-- <update id="resetUserPassword" parameterType="String"> -->
	<!-- update -->
	<!-- user_login -->
	<!-- set user_password="123456" -->
	<!-- where user_id=#{0} -->
	<!-- </update> -->
	<!-- 插入新搜索记录-->
	<insert id="addNewSeachRecord" parameterType="SeachRecord">
		insert into
		seach_record(record_id,user_id,seach_content,seach_time)
		values(#{recordId},#{userId},#{seachContent},#{seachTime})
	</insert>
	
	<!-- 插入获取搜索记录排行,只取搜索前十的,总榜-->	
	<select id="getSeachRank" resultType="map">
	select seach_content,count(*) hot 
	from seach_record 
	group by seach_content order by hot desc LIMIT 0,10
	</select>
	
	<!-- 获取搜索记录排行,只取搜索前十的,月榜-->	
	<select id="getSeachRankBetweenMonth" resultType="map">
	select seach_content,count(*) hot 
	from seach_record where (to_days(now())-to_days(seach_time))&lt;='30'
	group by seach_content order by hot desc LIMIT 0,10
	</select>
	
	<!-- 获取搜索记录排行,只取搜索前十的,周榜-->	
	<select id="getSeachRankBetweenWeek" resultType="map">
	select seach_content,count(*) hot 
	from seach_record where (to_days(now())-to_days(seach_time))&lt;='7'
	group by seach_content order by hot desc LIMIT 0,10
	</select>
	
	<!-- 根据搜索记录，获取用户id-->	
	<select id="getUserIdBySeachRecord" parameterType="String" resultType="String">
	select distinct(user_id)
	from seach_record 
	where seach_content = #{0}
	</select>
	
	<!-- 根据用户id,查询搜索记录-->	
	<select id="getSeachRecordByUserId" parameterType="String" resultType="String">
	select seach_content
	from  seach_record
	where user_id = #{0} and seach_content != #{1}
	</select>
</mapper>