<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.animal.mapper.UserInfoMapper">
	<!-- 自定义结果集 -->
	<resultMap type="UserInfo" id="userInfoResultMap">
		<result property="userId" column="user_id" />
		<result property="userName" column="user_name" />
		<result property="userAge" column="user_age" />
		<result property="userSex" column="user_sex" />
		<result property="userTel" column="user_tel" />
		<result property="userAddress" column="user_address" />
	</resultMap>
	<!-- 登录查询 -->
	<select id="getUserInfoByUserId" parameterType="String"
		resultMap="userInfoResultMap">
		select *
		from user_info
		where user_id=#{0}
	</select>
	<!--获取所有用户信息 -->
	<select id="getUserInfoList" resultMap="userInfoResultMap">
		select *
		from user_info 
	</select>
	<!--更新用户信息 -->
	<update id="updateUserInfo" parameterType="UserInfo">
		update
		user_info
		set user_name=#{userName},user_age=#{userAge},user_sex=#{userSex},user_tel=#{userTel},user_address=#{userAddress}
		where user_id=#{userId}
	</update>
	<delete id="deleteUserById" parameterType="String">
		delete from user_info where user_id = #{0}
	</delete>
	<!--重置用户的密码 -->
<!-- 	<update id="resetUserPassword" parameterType="String"> -->
<!-- 	update -->
<!-- 	user_login -->
<!-- 	set user_password="123456" -->
<!-- 	where user_id=#{0} -->
<!-- 	</update> -->
	<!-- 插入新的用户信息 -->
	<insert id="addNewUserInfo" parameterType="UserInfo">
		insert into
		user_info(user_id,user_name,user_age,user_sex,user_tel,user_address)
		values(#{userId},#{userName},#{userAge},#{userSex},#{userTel},#{userAddress})
	</insert>
</mapper>